.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header{
    position: fixed;    
    width: 100%;    
    padding: 1rem 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page-content{  
  flex: 1;
  display: flex;
  padding: 2rem 0;

  outline: 2px solid red;
}

.container {
    width: 100%;
    max-width: 1200px;     
    margin: 0 auto;
    padding: 0 1.5rem;

    display: flex;
    flex-direction: column;
    flex: 1;

    outline: 2px solid blue;
}

.footer {    
    width: 100%;
    padding: 1rem 2rem;
}