<div class="task-card__actions">
  <button class="task-card__edit-button" (click)="onEditClick()">
    Edit
  </button>

  <button class="task-card__delete-button" (click)="onDeleteClick()">
    Delete
  </button>
</div>

<article class="task-card">
  <header class="task-card__header">
    <h3 class="task-card__title">
      {{ task().title }}
    </h3>    
  </header>

  <p class="task-card__description">
    {{ task().description }}
  </p>

  <div class="task-card__meta">
    @if(task().plannedDate !== null){
      <span>Planned: {{ task().plannedDate | date:'dd/MM/yyyy' }}</span>
    }
    @if(task().dueDate !== null){
      <span>Due: {{ task().dueDate | date:'dd/MM/yyyy' }}</span>    
    }
    @if(task().completedAt !== null){
      <span>Completed: {{ task().completedAt | date:'dd/MM/yyyy' }}</span>    
    }    
  </div>
</article>
