:host {
  display: flex;
  flex: 1;
}

.tasks-page {
  // min-height: 100dvh;
  display: grid;  
  gap: 1rem;
  padding: 2rem;
  width: 100%;
}

h1 {
  margin: 0;
}

button {
  padding: 0.75rem 1rem;
  cursor: pointer;
}

.logout-button.hide{
    opacity: 0;
}

.task-list{
  display: grid;
  justify-content: center;
  align-content: start;

  grid-template-columns: repeat(auto-fill, minmax(19rem, 21rem));
  gap: 1rem 1.25rem;
}

